# Config for your application
module <%= formatted_name %>
  module Config
    # Main URL of your application under test
    URL = <%= formatted_url %>
  end
end

RSpec.configure do |config|
  config.before :all do
    # WatirSplash::Browser.new 
  end

  config.after(:all) do
    WatirSplash::Browser.current.close if WatirSplash::Browser.current
  end  
end
