require "rubygems"
require "bundler"
Bundler.setup
require "watirsplash"

<%= frameworks_banner %>

# Load the framework specified by the environment variable WATIRSPLASH_FRAMEWORK or WatirSplash::Util.framework
WatirSplash::Util.load_framework

require_all File.join(File.dirname(__FILE__), "lib/**/*.rb")
require_rel "config.rb"

# Add all your require statements into this file to avoid unnecessary
# code in your spec files
