# <%= name %>Helper module has helper methods for easy use in specs
# see usages in spec/dummy_spec.rb

module <%= name %>Helper

  def helper_method_one
    "one"
  end

  def has_second_method?
    true
  end

  def correct?
    false
  end

end
